<!DOCTYPE html>
<html>
<head>
    <title>File Upload Successful</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
</head>
<body>
    <h1>File Upload Success</h1>
    {% with messages = get_flashed_messages() %}
        {% for message in messages %}
            <div>{{ message }}</div>
        {% endfor %}
    {% endwith %}
    <p>Here is your uploaded audio file:</p>
    <audio controls>
        <source src="{{ url_for('uploaded_file', filename=file.filename) }}" type="audio/wav">
    </audio>

    <button id="transcribe-btn">Transcribe Audio</button>

    

	<script>
		document.getElementById('transcribe-btn').addEventListener('click', function() {
			var xhr = new XMLHttpRequest();
			xhr.open('POST', '/scribe_btn_click', true);
			xhr.send();
		});
	</script>
</body>
</html>
